:root {
    --primary-white-color: #FFFFFF ;
    --accent-color: #4D5AE5;
    --first-basic-color: #434455;
    --second-basic-color: #2E2F42;
}
body {
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
     
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.header-link-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.header-link-a {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--second-basic-color);
}

.header-link-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--second-basic-color);
}

.header-link-nav:focus,
.header-link-nav:hover {
   color: var(--accent-color);
}

.header-info-b {
    font-size: 16px;
    line-height: 1.5;
    color: var(--first-basic-color);
}

.header-info-b:focus,
.header-info-b:hover {
    color: var(--accent-color);
}
.hero {
    width: 1440px;
    height: 603px;
    background-color: var(--second-basic-color);
}
.hero-top {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.1;
    color: var(--primary-white-color);
    text-align: center;
}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    letter-spacing: 0.04em;
    align-items: center;
}
.top-link-caption {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.top-link-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.center-b:hover,
.center-b:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 

 .advanteges .top-link-caption {
    font-size: 20px;
    line-height: 1.2;
    color: var(--second-basic-color);
}

 .advanteges .top-link-text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--first-basic-color);
}

.works-link {
    font-size: 36px;
    line-height: 1.11;
    color: var(--second-basic-color);
}

.meet-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
}

.meet-title-link-caption {
    font-size: 20px;
    line-height: 1.2;
    color: var(--second-basic-color);
}
.meet-title-link-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--first-basic-color);
}

.footer {
    background-color: #2E2F42;
}
.footer .logo-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: #F4F4FD;
    letter-spacing: 0.03em;
}

.footer .text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #E7E9FC;
}